# Zabbix Agent 2 configuration
PidFile=/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=0

# IP do servidor Zabbix
Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_server_ip }}

# Hostname da instância (pega automaticamente)
Hostname={{ hostvars[inventory_hostname]['tags']['Name'] }}

Include=/etc/zabbix/zabbix_agent2.d/*.conf